h1{
margin:0px;
}

header{
  background-image: url(../images/home4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 680px;
}

.container{
width: 100%;
height: 100%;
}

.fondo_negro{
background: rgba(0, 0, 0, 0.3);  
}


.tamaño{
  width: 1175px;
  margin: 0 auto;
  height: 200px;
}

nav{
  float:right;
  padding-top: 70px;
}

h1{
  padding-top: 45px;
  float: left;
}

nav ul li{
  font-size: 12px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 20px;
  letter-spacing: 1px;
}

nav ul li a{
  color: #fff;
  text-decoration: none;
}

