h1{
margin:0px;
}

.fondo{
  background: rgba(0, 0, 0, 0.3);  
}

header{
  background-image: url(../images/home4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /*height: 680px;
  max-height: 680px;*/
}

nav{
  float:right;
  padding-top: 70px;
}

h1{
  padding-top: 45px;
  float: left;
}

nav ul li{
  font-weight: bold;
  font-size: 12px;
  display: inline-block;
  padding-left: 16px;
  padding-right: 15px;
  font-family: 'Raleway', sans-serif;
  letter-spacing:1px;
  
}

nav ul li a{
  color: #fff;
  text-decoration: none;
}


.title {
  padding-top: 91px;
  font-size: 55px;
  color: #fff;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
}

.text{
  padding-top: 22px;
  padding-bottom: 285px;
  font-size: 24px;
  color: #fff;
  font-family: 'Raleway', sans-serif;
}


.img-service{
  
  background-image: url(../images/bg3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
 height: 730px;
  width: 570px;

}

.espacio{
  margin-top: 170px;
}

.title2{
  font-size: 35px;
  font-family: 'Raleway',sans-serif;
  font-weight: 700;
  margin:0px;
}


.linear{
  margin-left: 115px;
  
}

.sub-border:after{
  content: "";
  display: block;
  background: #9c9c9c;
  width: 40px;
  height: 2px;
  margin-top: 24px; 
  }

  .parrafo{
    margin:0px;
    font-size:13px;
    padding-top: 60px;
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
    
  }


  .sinpadding{
padding-right: 0px;
padding-left:15px;
  }

.icono{
  font-size: 65px;
}


















.service{
  padding-top: 57px;

}

.sinpadding2{
  padding: 0px;
}


.title3{
  font-size: 12px;
  font-weight: 800;
  font-family: 'Raleway', sans-serif;
}


.parrafo2{
   margin:0px;
    font-size:13px;  
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
}



.fondo_w_studio{
  margin-top: 170px;
  background-image: url(../images/bg3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  height: 570px;

}


.section_team_teet{
  margin-top: 165px;
  margin-bottom: 165px;

}

.team_teet{
  margin-top: 60px;
}


.image_team{
padding: 0px;
height: 293px;
}

.fact_team{
padding: 0px;
height: 293px;
}

.prices{
padding-top: 70px;


}

.starter{
height: 494px;
background-color: #71131c;
}

.section_contact_us{
  margin-top: 174px;
}

.form_contact{
  padding-top: 60px;
  
}

.form{
  padding: 0px;
  height: 480px;
 
}




















.contact-bottom{

font-family: 'Raleway', sans-serif;
font-size: 13px;
line-height: 1.7;
padding-bottom: 50px;
}

.form-control {
    border-radius: 0;
    padding-bottom: 11px;
    margin-bottom: 35px;
}


.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 8px 20px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}

.btn-default {
    color: #fff;
    background-color: #444444;
}

textarea.form-control {
    height: 100px;

}









.form_contact2{
  width: 770px;
}























.footer_team_teet{
  padding-top: 85px;
}




  footer ul{
    padding-top: 24px;
    text-align: right;
  }

  footer ul li {
     margin-left: 16px;
     display: inline-block;
      
  }

  .padding-left{
    padding-left: 15px;
    margin-top: 20px;
  }

  .footer_teet{
  padding: 0px;
  }

  .footer_copyright{
  margin-top: 19px;
  text-align: center;
  font-size: 11px;
  font-family: 'Raleway', sans-serif;
  }

  .link{
    color:black;
    text-decoration: underline;
  }

 
  .ico{
  color:black;
  }

  .iconos{
    font-size: 15px;
    padding: 0px;
  }